.box-search{
  display : flex;
  flex-direction: row;
  margin : auto;
  max-width: 50%;
}
.barre-search{
  width: 70%;
  height: 2.8em;
  outline: none;
  background: #e1e1e1;
  color: black;
  text-decoration: none;
  list-style-type: none;
  border: solid 1px #c0bcbc;
  border-radius: 3px;
}
.btn-search{
  width: 200%;
  height: 3em;
  border-radius: 3px;
  color: #6c757d;
  background-color: #fff;
  border: solid 1px #38404b;
  cursor: pointer;
}
.btn-remove-all{
  text-align: center;
  margin-left: 40%;
  margin-top: 2vh;
  width: 20%;
  height: 2.3em;
  cursor: pointer;
  border-radius: 3px;
  color: #efefef;
  background-color: #d93232;
  border: none;
}
.menu{
  margin-top:-10px;
  height : 6vh;
  display: flex;
  width : 100%;
  flex-direction: row;
  background-color: black;
  padding-bottom: 20px;
  padding-left : 16px;
  margin-left: -8px;
}
.menu-titre{
  color : #fcf5f5;
  text-decoration : none;
  font-size: 1.4em;
  font-family: Algerian, cursive;
  margin-top : 1.5%;
  margin-left: -1%;
}
.sous-menu{
  margin-top: 1.8%;
  display: flex;
  flex-direction: row;
}
.menu-item{
  color : #cbbdbd;
  text-decoration : none;
  font-size: 1em;
}
.container{
  width : 60%;
  background-color : white;
  border : solid 2px black;
  padding : 2%;
  display : block;
}
.container-current-tache{
  width : 40%;
}
.box-current-tache{
  margin : auto;
  color: #342828;
  background-color: #f8f2f2;
  max-width: 90%;
  font-size: 1.2em;
}
.box-container{
  width: 60%;
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  display : flex;
  flex-direction:row;
}
.box-taches{
  margin : auto;
  width: 80%;
}
.box-taches-fils{
  display : flex;
  flex-direction: row;
}
.box-taches h2{
  text-align: center;
  font-size: 2em;
  color : #38404b;
}
.ul-tache{
  width: 40%;
  margin-left : auto;
  margin-right : auto;
  display: flex;
  flex-direction: column;
}
.ul-tache h3{
  text-align: center;
  color : #38404b;
}
.box-taches-item{
  width : 80%;
  display: block;
  padding: .5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  font-size: 1.2em;
  cursor: default;
}
.box-taches-item.active{
  z-index: 2;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.box-current-tache h4{
  padding-top: 0.2em;
  text-align: center;
  color: #593636;
  font-size: 1.5em;
}
.label-current-tache{
  color: #563131;
  font-size: 1.1em;
  margin-top: -3vh;
  margin-bottom: 5vh;
}
.current-tache-edit{
  color: #b04242;
  text-decoration: none;
  margin-right: 2em;
}
.form-control {
   display: block;
   width: 100%;
   padding: .375rem .75rem;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   appearance: none;
   border-radius: .25rem;
   transition: border-color .15s
}
.btn-add {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-modify {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  margin-right: 2em;
  margin-top: 1em;
}
.submit-form {
  max-width: 300px;
  margin: auto;
}
.submit-form div {
  display: block;
}
.submit-form*, ::after, ::before {
  box-sizing: border-box;
}
.submit-form label{
  display: inline-block;
}
.current-vide{
  text-align: center;
  margin-top: 20vh;
  color : #af4e4e;
}